.field {
  // sizes
  --field-padding-top: 14px;
  --field-padding-bottom: 14px;
  --field-padding-x: 12px;
  --field-round: 3px;
  --field-font-size: 18px;
  --field-line-height: 24px;
  --field-icon-size: 20px;
  --field-icon-width: var(--field-icon-size);
  --field-icon-height: var(--field-icon-size);
  --field-btn-offset-x: 8px;
  --field-btn-padding-y: 12px;
  --field-dropdown-max-height: 192px;

  @include media-breakpoint-down(md) {
    --field-font-size: 14px;
    --field-line-height: 18px;
}

  // colors
  --field-color: #272733;
  --field-color-1: #ffffff;
  --field-bg-color: #ffffffd9;
  --field-bg-color-1: #3d4050d9;
  --field-icon-color: #000;
  --field-label-color: #9fa0a7;
  --field-hint-color: #9fa0a7;
  --field-border-color: #ffffff;
  --field-outline-color: #27348b;
  --field-placeholder-color: #9fa0a7;

  // hover
  --field-hover-icon-color: #7a7b81;
  --field-hover-border-color: #9fa0a7;

  @include media-breakpoint-up(md) {
    --field-dropdown-max-height: 228px;
  }

  width: 100%;
  position: relative;


  &._active-dropdown {

    .field__dropdown {
      max-height: var(--field-dropdown-max-height);
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition-property: max-height, opacity, background-color;
    }

    .field__field {
      background-color: var(--field-bg-color-1);
    }

    .field__control {
      color: var(--field-color-1);
    }

    .field__icon--dropdown,
    .field__btn--dropdown {
      rotate: 180deg;
      color: var(--field-color-1);
    }
  }

  &__panel {
    position: relative;
  }

  &__label {
    margin-bottom: 8px;
    display: inline-flex;
    color: var(--field-label-color);
    @include font(12px, 16px);

    cursor: text;
    user-select: none;
  }

  &__field {
    display: flex;
    position: relative;
    border-radius: var(--field-round);
    border-color: var(--field-border-color);
    background-color: var(--field-bg-color);
    overflow: hidden;

    &:focus-within {
      box-shadow: inset 0 0 0 1px var(--field-hover-border-color);
    }
  }

  &__area {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  &__control {
    width: 100%;
    padding: var(--field-padding-top) var(--field-padding-x) var(--field-padding-bottom);
    display: block;
    color: var(--field-color);
    border: none;
    background-color: transparent;
    @include font(var(--field-font-size), var(--field-line-height));

    &::placeholder {
      color: var(--field-placeholder-color);
      opacity: 1;
    }

    &:focus-visible,
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input.field__control {

    &[type='search'],
    &[type='number'] {

      /* stylelint-disable-next-line property-no-vendor-prefix */
      // -webkit-appearance: none;
      appearance: none;

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -moz-appearance: textfield;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:autofill,
    &:autofill:hover,
    &:autofill:focus {
      border: none;
      -webkit-text-fill-color: var(--field-color);

      /* stylelint-disable-next-line property-no-vendor-prefix */
      -webkit-box-shadow: none;
      transition: background-color 5000s ease-in-out 0s;
      background-color: none;
      box-shadow: none;
      color: var(--field-color);
    }
  }
  
  &__inner-label {
    padding: var(--field-btn-padding-y) 0 var(--field-btn-padding-y) var(--field-calc-btn-offset-x-half);
    height: 100%;
    display: flex;
    align-items: center;
    @include font(var(--field-font-size), var(--field-line-height));

    user-select: none;
    color: var(--field-icon-color);
  }

  &__icon,
  &__btn {
    padding: var(--field-btn-padding-y) 0;
    width: calc(var(--field-icon-width) + var(--field-btn-offset-x));
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--field-icon-color);
    background-color: transparent;
    transition: $animation-speed $animation-function;
    transition-property: color, rotate;
  }

  &__icon + .field__inner-label,
  &__btn + .field__inner-label {
    padding-left: 0;
  }

  &__btn {
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid var(--field-outline-color);
      outline-offset: -2px;
    }

    &:active {
      color: var(--field-icon-active-color);
    }

    @include hover {
      color: var(--field-hover-icon-color);
    }

  }

  &__icon-img {
    width: var(--field-icon-width);
    height: var(--field-icon-height);
    flex-shrink: 0;
  }

  &__content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__hint {
    @include font(12px, 16px);

    color: var(--field-hint-color);

    &--error {
      color: var(--field-error-color);
    }
  }

  &__dropdown {
    @include inset(absolute, calc(100% + 8px), 0, auto, 0);

    max-height: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    filter: var(--dropdown-drop-shadow);
    border-radius: 3px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $animation-speed $animation-function;
    transition-property: max-height, opacity, visibility;
    z-index: 5;
  }

  &__dropdown-inner {
    overflow-x: hidden;
    overflow-y: auto;

    @include scrollbar-styled;
  }
}

.field--autoheight {
  --field-textarea-height: auto;
}

