.nav {
  --nav-color: var(--c-base-color);
  --nav-link-color: var(--c-brand-main-color);
  --nav-bg-active-color: var(--c-brand-secondary-color);

  color: var(--nav-color);
  align-items: center;
  display: grid;
  justify-content: center;
  @include font(12px, 24px, 600);

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 75px;
    padding-bottom: 24px;
    flex-direction: column;
    height: 100vh;
    text-align: center;
    background-color: var(--nav-bg-active-color);
    transition: transform $animation-speed $animation-function, opacity $animation-speed $animation-function;
    z-index: 999;
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;

    &._active { 
      transform: translateX(0);
      opacity: 1;
      visibility: visible;
  }
  }


  &__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__item {
    padding-block: 38px;
    @include media-breakpoint-down(lg) {
      padding-block: 18px;
    }
  }

  &__link {
    padding-inline: 32px;
    transition: color $animation-speed $animation-function;

    @include hover {
      color: var(--nav-link-color);
    }
  }
}