<section class="section section--primary section--bg-pic-map">
  <div class="container">
    <div class="promo" id="advantages">
      <div class="promo__header">
        <h2 class="promo__title">ОФОРМЛЕНИЕ <span class="promo__title promo__title--primary">ЗАКАЗА</span></h2>
        <p class="promo__text">Перед заполнением формы ознакомьтесь с нашей схемой работы!</p>
      </div>
      <div class="promo__inner">

        <div class="promo__info">
            <p class="promo__desc">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="dot">
          <ul class="dot__list">
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
        </ul>
        </div>
        <div class="promo__info promo__info--pic-percent">
            <p class="promo__desc">Сonsecteturadipiscing elit</p>
        </div>
        <div class="dot">
          <ul class="dot__list">
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
        </ul>
        </div>
        <div class="promo__info promo__info--pic-file">
            <p class="promo__desc">Sed do eiusmod tempor</p>
        </div>
        <div class="dot">
          <ul class="dot__list">
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
        </ul>
        </div>
        <div class="promo__info promo__info--pic-message">
            <p class="promo__desc">Esse cillum dolore
              eu fugiat</p>
        </div>
        <div class="dot">
          <ul class="dot__list">
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
            <li class="dot__item"></li>
        </ul>
        </div>
        <div class="promo__info promo__info--pic-money">
            <p class="promo__desc">Excepteur sint occaecat cupidatat non proident</p>
        </div>
    </div>

    <div class="promo__input-container">
      <div class="promo__field field">
        <div class="field__panel">
          <div class="field__body">

            <div class="field__field">
              <div class="field__area">
                <input class="field__control" id="field-1" type="text" value="Выберите тип системы" placeholder="placeholder" />
              </div>
              <div class="field__append">
                <button
                  class="field__btn field__btn--dropdown"
                  type="button"
                  aria-label="Список предложений"
                  aria-expanded="false"
                  aria-controls="select-list-hash-id-1"
                >
                  <svg class="field__icon-img" width="24" height="24" aria-hidden="true">
                    <use xlink:href="img/sprite.svg#down-arrow"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
          <div class="field__dropdown" id="select-list-hash-id-1">
            <div class="field__dropdown-inner input-dropdown">
              
              <ul class="input-dropdown__list">
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn _active" type="button" aria-pressed="true">
                          <span class="item-dropdown__btn-text">Sed ut perspiciatis</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Nemo enim ipsam</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Et harum quidem</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Temporibus autem
                          </span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Itaque earum rerum</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Itaque earum rerum</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Itaque earum rerum</span>
                      </button>
                  </li>
                  <li class="input-dropdown__item">
                      <button class="input-dropdown__btn" type="button" aria-pressed="false">
                          <span class="item-dropdown__btn-text">Itaque earum rerum</span>
                      </button>
                  </li>
              </ul>
          </div>
          </div>
        </div>
      </div>

      <div class="promo__field field">
        <div class="field__panel">
          <div class="field__body">
            <div class="field__field">
              <div class="field__area">      
                <input class="field__control" id="field-1" type="text" name="email" value="Ваш e-mail" placeholder="Ваш e-mail" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="promo__field field">
        <div class="field__panel">
          <div class="field__body">
            <div class="field__field">
              <div class="field__area">
                <input class="field__control" id="field-1" type="text" value="Ваше имя" placeholder="Ваше имя" />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="promo__progress-box">
    <div class="promo__slider-container">
      <div class="promo__slider-range" id="sliderRange"></div>
      <div class="promo__slider-ball" id="sliderBall"></div>
      <div class="promo__percentage" id="percentage">0%</div>
  </div>
  
  <label class="promo__btn btn btn--secondary btn--size-large" for="file-upload">
    <svg class="btn__icon" width="17" height="20" aria-hidden="true">
        <use xlink:href="img/sprite.svg#file-1"></use>
    </svg>
    <span class="btn__label">ПРИКРЕПИТЬ ФАЙЛ</span>
</label>
<input class="promo__input-btn" type="file" id="file-upload" />
  </div>
  <button class="promo__btn-footer btn btn--primary btn--size-large" type="button" data-cross-button>
    <span class="btn__label">ОТПРАВИТЬ</span>
  </button>
  

    </div>
  </div>
</section>