<footer class="footer">

  <p class="footer__copyright">
    © 2018 «LoremIpsum.net» Все права защищены.</p>

    <ul class="footer__list">
      <li class="footer__item">
        <svg class="footer__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprite.svg#qiwi"></use>
        </svg>
        <span class="footer__text">Qiwi wallet</span>
      </li>
      <li class="footer__item">
        <svg class="footer__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprite.svg#yandex"></use>
        </svg>
        <span class="footer__text">Yandex Money</span>
      </li>
      <li class="footer__item">
        <svg class="footer__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprite.svg#web"></use>
        </svg>
        <span class="footer__text">Web Money</span>
      </li>

    </ul>
    <div class="footer__info">
      <a href="mailto:info@ipsum228.com" class="footer__link">
        <svg class="footer__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprite.svg#message-sm"></use>
        </svg>
        <span class="footer__text">
          info@ipsum228.com
        </span></a>
      <a href="mailto:info@ipsum228.com" class="footer__link">
        <svg class="footer__icon" width="20" height="20" aria-hidden="true">
          <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
        <span class="footer__text">
          info@ipsum228.com
        </span></a>
    </div>

</footer>