<section class="section section--bg-pic">
  {{>header}}
  <div class="section__intro intro">
    <div class="intro__options">
      <h1 class="intro__title">
        <span class="intro__title intro__title--primary">LOREM IPSUM</span> 
        DOLOR SIT AMETCONSECTETUR 
        <span class="intro__title intro__title--primary">ADIPISICNG</span>
    </h1>
      <p class="intro__text">At vero eos et accusamus et iusto odio dignissimos ducimus!</p>
      <ul class="intro__list">
        <li class="intro__item">Totam rem aperiam eaque ipsa</li>
        <li class="intro__item">Sit voluptatem accusantium doloremque laudantium</li>
        <li class="intro__item">Sed ut perspiciatis, unde omnis iste natus error</li>
      </ul>
        <div class="intro__contacts">
          <button class="intro__control btn btn--primary btn--size-large" type="button" data-cross-button>
            <span class="btn__label">ЗАКАЗАТЬ</span>
          </button>
          <a href="#contacts" class="intro__control btn btn--secondary btn--size-large">
            <span class="btn__label">ПОДРОБНЕЕ</span>
          </a>
        </div>
    </div>
  </div>
</section>