@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Lato');
  src:
    url('/fonts/lato/Lato-Regular.woff2') format('woff2'),
    url('/fonts/lato/Lato-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Lato');
  src:
    url('/fonts/lato/Lato-Semibold.woff2') format('woff2'),
    url('/fonts/lato/Lato-Semibold.woff') format('woff');
}


@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Lato');
  src:
    url('/fonts/lato/Lato-Bold.woff2') format('woff2'),
    url('/fonts/lato/Lato-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Lato');
  src:
    url('/fonts/lato/Lato-800.woff2') format('woff2'),
    url('/fonts/lato/Lato-800.woff') format('woff');
}
